.container{ border-radius: 10px;
padding: 100px;
margin: 50px auto;
background: grey;
color: pink;
max-width: 600px;}

h1{ text-align: right;
}


#inputPassword5{ 
background:white;
color: pink;
padding:10px ;
margin:0 auto;
}


.col-6{ text-align: left;
color: pink;
font-size:40px ;
padding-top: 10px;
font-family: 'Times New Roman', Times, serif;}
 
#enter-btn{ display: inline-block;
    background: pink;
color: white}

.col-4{ font-family: 'Times New Roman', Times, serif;
font-size: 15px;}