.container{ border-radius: 10px;
padding: 100px;
margin: 20px auto;
background: grey;
color: pink;
max-width: 600px;

}

h1{ text-align: right;
}


#input-city{ 
background:white;
color: pink;
padding:10px ;
margin:0 auto;
}


.col-8{ text-align: left;
color: pink;
font-size:35px;
font-family:'Times New Roman', Times, serif;}
 
#enter-btn{ padding:10px;
    background: pink;
color: white}

.col-4{ font-family: 'Times New Roman', Times, serif;
font-size: 30px;}

.col-3{ font-family: 'Times New Roman', Times, serif;
    font-size: 20px;}

#description{ font-family: 'Times New Roman', Times, serif;
font-size: 20px;
text-align: right;
text-transform: capitalize;}

li{ text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
list-style:none ;}

#image{ text-align: right;
font-size: larger;}


footer{ font-size: 15px;
    font-family: 'Times New Roman', Times, serif}

    #git-link{text-decoration: none;
    color: whitesmoke;}

    #net-link{text-decoration: none;
        color: whitesmoke;}